<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cassette</title>
    <link rel="stylesheet" href="../statics/css/cassette2.css" type="text/css">
  </head>
  <body>
    <div class="bienvenido">BIENVENIDO</div>
    <div class="equipo">
      <p>Equipo 7<br>Montse Báez<br>Tamara Arenas<br>Giovanni Garfias<br>Erick León</p>
    </div>
    <form class="" action="../dynamics/php/cassette2.php" method="post">
      <div class="color">
        Elige tu estilo:<br>
        <input type="radio" name="col" value="uno"><img id="uno" src="../statics/media/colores_calidos.jpeg" alt="" required><br>
        <input type="radio" name="col" value="dos"><img id="dos"src="../statics/media/colores_frios.jpeg" alt="" required><br>
        <input type="submit" name="" value="ENVIAR">
      </div>
    </form>
  </body>
</html>
