
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candy</title>
    <link rel="stylesheet" href="../statics/css/Juego2.css">
</head>
<body>
    <div class="score-board">
        <h3>Puntaje</h3>
        <h1 id="score"></h1>
      </div>
      <button type="button" id="finalizar"></button>
      <span id="t2">Finalizar</span>
      <button type="button" id="menu"></button>
      <span id="t3">Menu</span>
    <script type="text/javascript" src="../dynamics/js/Juego2.js"></script>
</body>
</html>