body{
    background-color: black;
}

div{
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    background-image: url(../images/pac.png);
    position: relative;
    height: 800px;
    width: 100%;
}

@keyframes move{
    from{
        left: 0px;
        top: 200px;
    }
    to{
        left: 0px;
        top: 0px;
    }
}
