<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>¡Bienvenido!</title>
    <link rel="stylesheet" href="../statics/css/cassette.css" type="text/css">
    <link rel="icon" type="image/png" sizes="32x32" href="../statics/images/favicon1.png">
  </head>
  <body>
    <div class="content">
      <div class="bienvenido">BIENVENIDO</div>
      <div class="equipo">
        Equipo 7<br>Montse Báez<br>Tamara Arenas<br>Giovanni Garfias<br>Erick León
      </div>
      <a href="./principal.html">COMENZAR</a>
    </div>
  </body>
</html>
