<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>¡Ya casi!</title>
    <link rel="stylesheet" href="../statics/css/cassette2.css" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="../statics/images/favicon1.png">
  </head>
  <body>
    <div class="content">
      <div class="bienvenido">BIENVENIDO</div>
      <div class="equipo">
        Equipo 7<br>Montse Báez<br>Tamara Arenas<br>Giovanni Garfias
      </div>
      <form class="color" action="../dynamics/php/cassette2.php" method="post">
          Elige tu estilo:<br>
          <input type="radio" name="col" value="uno" required><img src="../statics/images/colores_calidos.jpeg" alt="" required><br>
          <input type="radio" name="col" value="dos" required><img src="../statics/images/colores_frios.jpeg" alt="" required><br>
          <input type="submit" value="ENVIAR">
       </form>
    </div>
  </body>
</html>
