
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pac-Man</title>
    <link href="../statics/css/Juego1.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="../statics/images/favicon1.png">
  </head>
  <body>
    <img src="https://k34.kn3.net/5A2D5603F.png">
    <canvas id="canvas"></canvas>
    <h1 id="puntaje"></h1>
    <button type="button" id="finalizar"></button>
    <span id="t2">Finalizar</span>
    <button type="button" id="menu"></button>
    <span id="t3">Menu</span>
    <script type="text/javascript" src="../dynamics/js/Juego1.js"></script>
  </body>
</html>
