<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scores</title>
    <link rel="stylesheet" href="../statics/css/scores.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../statics/images/favicon1.png">
  </head>
  <body>
    <table id="tab">
      <caption>Pac-Man</caption>
      <th>Nombre</th>
      <th>Puntos</th>
    </table>
    <table id="tab2">
      <caption>Candy-Crush</caption>
      <th>Nombre</th>
      <th>Puntos</th>
    </table>
    <script type="text/javascript" src="../dynamics/js/scores.js"></script>
  </body>
</html>
